// Copy this file,
// Copy the export statements,
// fill in the required values,
// and add to your bash_profile.

// DO NOT PUSH THE FILLED IN FILE WITH SECRETS TO GITHUB

export DRONE_GITHUB_CLIENT_ID=
export DRONE_GITHUB_CLIENT_SECRET=
export DRONE_RPC_SECRET=
export DRONE_SERVER_HOST=
export DRONE_SERVER_PROTO=
export DRONE_RPC_PROTO=
export DRONE_RPC_HOST=
export DRONE_TLS_AUTOCERT=
export DRONE_RUNNER_CAPACITY=
export DRONE_RUNNER_NAME=${HOSTNAME}