// Copy this file,
// remove `.template` from the name,
// Copy the export statements,
// fill in the required values,
// and add to your bash_profile.

// DO NOT PUSH THE FILLED IN FILE WITH SECRETS TO GITHUB. If you removed `.template` from the name as I instructed, the
// txt file should be automatically ignored.

export DRONE_GITHUB_CLIENT_ID=
export DRONE_GITHUB_CLIENT_SECRET=
export DRONE_RPC_SECRET=
export DRONE_SERVER_HOST=
export DRONE_SERVER_PROTO=
export DRONE_RPC_PROTO=
export DRONE_RPC_HOST=
export DRONE_TLS_AUTOCERT=
export DRONE_RUNNER_CAPACITY=
export DRONE_RUNNER_NAME=${HOSTNAME}
alias start_drone_runner="docker-compose run -d --name=runner --service-ports drone-runner"
alias start_drone_server="docker-compose run -d --name=drone --service-ports drone-server"
alias remove_drone_server="docker rm -f drone"
alias remove_drone_runner="docker rm -f runner"